<main>
  <div class="breadcrumb grey lighten-3">
    <h6>
      Dashboard
    </h6>
  </div>
  <br><br>
  <div class="container">
    <h4>Current Projects</h4>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Number of Submitions</th>
        <th>Remaing Time</th>
      </tr>
      </thead>
      <tbody>

      <% @projects.each do |c| %>
      <% @submissions = Submission.where(project_id: c.id) %>
          <tr>
            <td><%= c.title %> </td>
            <td><%= @submissions.size %> </td>
            <td><%= c.closeTime %> </td>
            <td><%= link_to 'Ver', {:action => 'show',:controller=> 'project', :id => c.id}, class: 'waves-effect waves-light btn' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>





  <br><br><br><br><br><br>
</main>