<header>
  <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Registar</a></li>
        <li><a href="#">Entrar</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Registar</a></li>
        <li><a href="#">Entrar</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>

<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Contestr</h1>
      <div class="row center">
        <h5 class="header col s12 light">A simple programming contest managing system</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Born to be bad</h5>

            <p class="light">This is war. Well that hit the spot... Give you a lift? Scumbag. Chill. Blondes. This hero stuff has it's limits. Fuck you. You killed my fada... Into the boat. You belong to me... You are not you you're me.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Talk to the hand</h5>

            <p class="light">I'll be back. Crush your enemies, to see them driven before you, and to hear the lamentations of their women. But i hope you leave enough room for my fist.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Hasta la vista baby</h5>

            <p class="light">That's for sleeping with my wife. Hahaha. Fugettit, i'm not going to sit on your lap. You should clone yourslef so you can go fuck yourself. Hey, i'm a police officer. Stop being such a pussy. Hahaha. You're the asshole on tv.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
      <p class="left">Made with <span class="red-text text-darken-4">♥️</span> in Portugal</p>
      <p class="right">Powered by <a href="https://github.com/rafaelcpalmeida/contestr" target="_blank" class="orange-text text-darken-4">Contestr</a></p>
    </div>
  </div>
</footer>